%div#wrapper
  %div#chat-side
    %div#side-header
      %p#side-header__username
      %ul#user-menu
        %li#user-menu__edit-user
          -# %a{:href = 'リンク入れる'}
        %li#user-menu__new-group
          -# %a{:href = 'リンク入れる'}
    %div#groups
      -# %a{:href = 'リンク入れる'}
        %div#group
          %p#group__group-name
          %p#group__latest-massage