.wrapper
  /サイドバーの作成
  .chat-side
    .side-header
      %p.side-header__username ユーザーネーム
      %i.fa.fa-cog
      %i.fa.fa-edit
    .side-footer
      .side-footer__group-name グループネーム
      .side-footer__latest-message 最新のメッセージ
  .chat-main
    .main-header
      %h2.main-header__current-group 開いているグループ名
      .main-header__group-member グループメンバー
      .main-header__edit-btn Edit
    .main-msgs
      .main-msgs__box
        .main-msgs__user-name 投稿したユーザーの名前
        .main-msgs__msg-time 投稿時間
        .main-msgs__a-msg 投稿したメッセージ